# macOS
.DS_Store

# Videos / large demo files
*.mp4
*.mov
*.avi
*.mkv

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
.next/
dist/
build/

# Environment variables
.env
.env.local
.env.example

# Logs
*.log

# Documents / binaries
*.pdf
*.exe
*.xlsx
*.xls
*.xlsm
*.csv
*.ppt
*.pptx
*.doc
*.docx
